.navbar {
  @apply w-full text-black;
  height: 80px;

  .part {
    @apply flex items-center;

    .title {
      @apply pl-5;
      border-left: 1px solid #141930;
    }

    .name {

      button {
        @apply relative;
        outline: none;

        .drop-list {
          @apply absolute;
          background: #212a44;
          left: 0;
          bottom: 0;
          width: 100%;
          transform: translateY(100%);
        }
      }
    }

    div {
      @apply mr-10;
    }
  }
}

.admin-menu {
  @apply bg-admin;
  height: 100%;

  ul {

    li {
      border-bottom: 1px solid #141930;

      a {
        @apply text-white text-xl block py-5 pl-5;
        font-weight: 400;
        transition: .2s;

        &:hover {
          background: #384874;
        }
      }
    }
  }
}

.admin-content {
  @apply bg-adminBgc w-10/12;
}
