<section class="admin flex flex-wrap h-screen overflow-hidden" *ngIf="route.children.length === 0">

  <section class="navbar flex items-center justify-between">
    <div class="ml-5 part">
      <div class="title">
        <h3 class="text-base">
          <a [routerLink]="['/']">Powrót do strony głównej</a>
        </h3>
      </div>
    </div>

    <div class="part">
      <div class="name">
        <button
          (click)="logout()">
          Wyloguj się
        </button>
      </div>
    </div>
  </section>

  <section class="admin-menu w-2/12">
    <ul>
      <li>
        <a [routerLink]="['users']">O firmie</a>
      </li>
      <li>
        <a [routerLink]="['projects']">Usługi</a>
      </li>
      <li>
        <a [routerLink]="['tickets']">Opinie</a>
      </li>
    </ul>
  </section>

  <section class="admin-content">
    <router-outlet></router-outlet>
  </section>
</section>

<router-outlet></router-outlet>
