<nav class="w-full py-6">
  <ul class="container">
    <li><a (click)="scrollTo('about')">O mnie</a></li>
    <li><a (click)="scrollTo('opinions')">Opinie</a></li>
<!--    <li><a href="">Portfolio</a></li>-->
    <li><a (click)="scrollTo('contact')">Kontakt</a></li>
  </ul>
</nav>
