nav {
  @apply absolute;
  z-index: 10;

  .container {
    @apply flex justify-center items-center;

    @screen md {
      @apply justify-end;
    }

    li {
      @apply mx-5;

      @screen md {
        @apply ml-20;
        font-size: 20px;
      }

      a {
        @apply cursor-pointer;
        transition: .3s;

        &:hover {
          @apply text-blue;
        }
      }
    }
  }
}
