.signin {
  .img {
    top: 50%;
    right: 10%;
    width: 40%;
    transform: translateY(-50%);
  }
}

.form-signin {
  top: 50%;
  left: 15%;
  transform: translateY(-50%);

  input {
    @apply text-center py-3 my-5 w-full outline-none;
    border-radius: 25px;
    transition: border .5s;
    background-color: #ECF0F1;
    border: 2px solid transparent;

    &:focus {
      border: 2px solid #3498DB;
      box-shadow: none;
    }
  }

  .btn-primary {
    @apply py-3 text-white;
    outline: none;
    background: #b0ddb4;
    border-radius: 8px;
    border: 1px solid #fff;

    &:hover {
      color: #b0ddb4;
      background: #fff;
      border: 1px solid #b0ddb4;
    }
  }
}

.error {
  @apply mt-5;
  color: red;
  font-weight: 700;
}
