<section class="signin relative w-full h-screen">
  <div class="form-signin w-3/12 absolute text-center">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <p class="text-xl">Please login to continue</p>
      <div class="full-width-input">
        <input placeholder="User" formControlName="userName" required>
        <div class="notification" *ngIf="isFieldInvalid('userName')">
          Please inform your user name
        </div>
      </div>
      <div class="full-width-input">
        <input type="password" placeholder="Password" formControlName="password" required>
        <div class="notification" *ngIf="isFieldInvalid('userName')">
          Please inform your password
        </div>
      </div>
      <button class="btn-primary w-full mt-3" type="submit">Login</button>
    </form>
  </div>

  <div class="img absolute">
    <img
      src="/assets/images/login/login.png"
      alt="">
  </div>
</section>
