@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap');

body {
  @apply text-lightblack bg-darkwhite;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  @apply font-bold text-blue;
  font-size: 64px;
  letter-spacing: 2px;

  @screen sm {
    font-size: 66px;
  }

  @screen md {
    font-size: 68px;
  }

  @screen lg {
    font-size: 60px;
  }
}

h2 {
  @apply text-blue;
  font-size: 34px;
  line-height: normal;
  letter-spacing: 3px;

  @screen sm {
    font-size: 36px;
  }

  @screen md {
    font-size: 38px;
  }

  @screen lg {
    font-size: 40px;
  }
}

h3 {
  @apply font-bold text-blue;
  font-size: 34px;

  @screen sm {
    font-size: 36px;
  }

  @screen md {
    font-size: 38px;
  }

  @screen lg {
    font-size: 40px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  display: none !important;
}

.swiper-container {
  border-radius: 8px;
}

.swiper-pagination {
  @apply pr-5;
  bottom: 0 !important;
  text-align: right !important;
}
