<section class="home">
  <header class="banner">
    <div class="container">
      <div class="-title">
        <h1>Cześć</h1>
        <h2>Nazywam się <br>Sebastian Śliwiński</h2>
        <h3 class="text-base">jestem Front-End Developerem</h3>
      </div>
      <div class="-img">
        <img src="/assets/images/avatar.png" alt="Sebastian Śliwiński | Front-end Developer">
      </div>
    </div>
  </header>

  <main>
    <!-- ABOUT -->
    <section class="about">
      <h3 class="title-section">O mnie</h3>

      <p class="description">
        Since beginning my journey as a freelance designer nearly 10 years ago, I've done remote work for agencies,
        consulted for startups, and collaborated with talented people to create digital products for both business and
        consumer use. I'm quietly confident, naturally curious, and perpetually working on improving my chops one design
        problem at a time.
      </p>

      <div class="services">
        <!-- WEB DESIGN -->
        <div class="service">
          <div class="-img">
            <img src="/assets/images/web_design.png" alt="Usługi graficzne">
          </div>

          <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dsit
            voluptatem accusantium doloremque
          </p>
        </div>

        <!-- PROGRAMMING -->
        <div class="service">
          <div class="-img">
            <img src="/assets/images/programming.png" alt="Usługi programistyczne">
          </div>

          <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dsit
            voluptatem accusantium doloremque
          </p>
        </div>

        <!-- HOSTING -->
        <div class="service">
          <div class="-img">
            <img src="/assets/images/hosting.png" alt="Usługi hostingowe">
          </div>

          <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dsit
            voluptatem accusantium doloremque
          </p>
        </div>
      </div>
    </section>

    <!-- PROJECTS -->
    <!--    <section class="projects">-->
    <!--      <h3 class="title-section">Wykonane projekty</h3>-->
    <!--    </section>-->

    <!-- OPINION -->
    <section class="opinions">
      <div class="container">
        <div class="opinion-container">
          <swiper [config]="config">
            <div class="opinion" *ngFor="let opinion of timeline">
              <div class="-img">
                <img src="{{opinion?.img}}" alt="">
              </div>
              <div class="-content">

                <p class="-opinion">
                  {{opinion?.description}}
                </p>
                <h4>{{opinion?.author}}
                  <span class="font-normal">| Podgląd wykonanej strony - <a href="{{opinion?.src}}" target="_blank">
                    {{opinion?.src}}</a>
                  </span>
                </h4>
              </div>
            </div>
          </swiper>
        </div>
      </div>
    </section>

    <!-- CONTACT -->
    <section class="contact">
      <h3 class="title-section">Porozmawiajmy</h3>

      <form action="" [formGroup]="contactForm" (ngSubmit)="sendMessage()">
        <input id="name" type="text" formControlName="name" placeholder="Imię i Nazwisko">
        <input id="email" type="email" formControlName="email" placeholder="Adres e-mail">
        <input id="subject" type="text" formControlName="subject" placeholder="Temat">
        <textarea formControlName="message" name="message"
                  placeholder="Treść wiadomości"
                  id="message" cols="30" rows="5">
        </textarea>
        <div class="button">
          <button>Wyślij</button>
        </div>
      </form>
    </section>
  </main>
</section>
