.home {
  @apply relative;

  &:after {
    content: '';
    @apply absolute top-0 bg-center bg-cover w-full h-full bg-no-repeat;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
    background-image: url('/assets/images/bgd dots.png');
  }

  .banner {
    @apply h-screen;

    .container {
      @apply flex flex-col justify-around items-center h-full;

      @screen md {
        @apply flex-row;
      }

      .-title {
        @apply text-center;

        @screen md {
          @apply text-left;
        }
      }

      .-img {
        @apply w-8/12 mt-20;
        order: -1;

        @screen md {
          @apply mt-0 w-auto;
          order: 1;
        }
      }
    }
  }

  main {

    .title-section {
      @apply text-center my-10 font-bold;
    }

    .about {

      .description {
        @apply text-center mb-10 w-11/12 mx-auto;

        @screen md {
          @apply w-8/12 mx-auto;
        }
      }

      .services {
        @apply flex flex-wrap;

        @screen md {
          @apply justify-between;
        }

        .service {
          @apply flex flex-col items-center text-center;

          @screen md {
            @apply w-1/3;
          }

          .-img {
            @apply my-10;

            @screen md {
              @apply my-20;
            }
          }
        }
      }
    }

    .opinions {
      @apply relative bg-blue py-10;

      .title-section {
        @apply text-darkwhite;
      }

      &:before {
        content: '';
        @apply absolute top-0;
        left: 50%;
        border-top: 20px solid #fffcf5;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        transform: translateX(-50%);

        @screen md {
          border-top: 40px solid #fffcf5;
          border-left: 40px solid transparent;
          border-right: 40px solid transparent;
        }
      }

      .opinion-container {
        @apply mx-auto;
        width: 85%;
        border-radius: 8px;
        box-shadow: 0 30px 50px rgba(0, 0, 0, .3);

        @screen md {
          @apply w-1/2 my-20;
        }

        .opinion {
          @apply flex flex-col items-center bg-darkwhite py-5 px-3;
          color: #aaa;

          @screen md {
            @apply flex-row;
          }

          .-img {
            @apply w-1/2;

            @screen md {
              @apply w-1/4;
            }

            img {
              @apply mx-auto;
            }
          }

          .-content {
            @apply mx-3 my-3;

            @screen md {
              @apply w-3/4;
            }

            .-opinion {
              @apply text-justify;
              font-size: 14px;

              @screen md {
                @apply pr-5;
                font-size: 16px;
              }
            }

            h4 {
              @apply font-bold;
              color: #999;
            }
          }
        }
      }
    }

    .contact {
      @apply py-20 bg-center bg-cover w-full h-full bg-no-repeat bg-darkwhite;
      background-image: url("/assets/images/kontakt.png");

      form {
        @apply mx-auto;
        width: 90%;

        @screen sm {
          @apply w-1/2;
        }

        @screen md {
          @apply w-1/3;
        }

        input, textarea {
          @apply w-full mb-3 p-2 bg-darkwhite;
          border-radius: 8px;
          border: 2px solid #0f4c81;

          &:focus {
            outline: none;
            border: 2px solid rgba(15, 76, 129, 0.55);
          }
        }

        .button {
          @apply text-center;

          @screen md {
            @apply text-right;
          }

          button {
            @apply py-3 px-5 bg-blue text-darkwhite;
            letter-spacing: 2px;
            border-radius: 8px;
            transition: .3s;
            border: 1px solid #fffcf5;

            &:hover {
              @apply bg-darkwhite text-blue;
              border: 1px solid #0f4c81;
            }
          }
        }
      }
    }
  }
}
